In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
data = pd.read_csv('data.csv')

In [3]:
(row_data, col_data) = data.shape
row_data, col_data

(84548, 21)

In [4]:
#grouping data
def processing_sale_data():
    #s.replace may be alternate
    sale_price = []
    sale_date = []
    commission = []
    states = []
    for index, row in data.iterrows():
        if len(row['SALE PRICE']) >= 5:
            sale_price.append(int(row['SALE PRICE']))
            sale_date.append(row['SALE DATE'])
            commission.append(0.03 * int(row['SALE PRICE']))
            states.append('Sold')
        else:
            sale_price.append(0)
            sale_date.append('-')
            commission.append(0)
            states.append('Pending')
    sale_price = pd.Series(sale_price)
    sale_date = pd.Series(sale_date)
    commission = pd.Series(commission)
    states = pd.Series(states)
    data['STATUS'] = states
    data['SALE PRICE'] = sale_price
    data['SALE DATE'] = sale_date
    data['COMMISSION'] = commission
    
    

processing_sale_data()
data.head(2)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,STATUS,COMMISSION
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,5,1633,6440,1900,2,C2,6625000,7/19/2017 0:00,Sold,198750.0
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,31,4616,18690,1900,2,C7,0,-,Pending,0.0

In [5]:
def group_data():
    unsold_index = list(data.loc[data['SALE PRICE'] == 0].index.values)
    sold_index = list(data.loc[data['SALE PRICE'] != 0].index.values)
    return unsold_index, sold_index
unsold_index, sold_index = group_data()
data.iloc[sold_index,:].head(3)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,STATUS,COMMISSION
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,5,1633,6440,1900,2,C2,6625000,7/19/2017 0:00,Sold,198750.00
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,...,10,2272,6794,1913,2,C4,3936272,9/23/2016 0:00,Sold,118088.16
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,...,6,2369,4615,1900,2,C2,8000000,11/17/2016 0:00,Sold,240000.00

In [6]:
def add_agent_name():
    agent_name_list = ['-','Adam','Beck','Catherine','Newton','Michael','Kim','Nathan']
    agent_name_series = pd.Series(np.random.randint(1,len(agent_name_list), size=row_data))
    agent_name_series[unsold_index] = 0
    agent_name_series = agent_name_series.map(pd.Series(agent_name_list))
    data['AGENT NAME'] = agent_name_series
add_agent_name()
data.head(3)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,STATUS,COMMISSION,AGENT NAME
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,1633,6440,1900,2,C2,6625000,7/19/2017 0:00,Sold,198750.0,Adam
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,4616,18690,1900,2,C7,0,-,Pending,0.0,-
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,2212,7803,1900,2,C7,0,-,Pending,0.0,-

In [7]:
def add_days_in_market():
    days_series = pd.Series(np.abs(np.random.normal(30,120, size=row_data)))
    days_series[sold_index] = 0
    days_series = days_series.astype(int)
    data['DAYS IN MARKET'] = days_series
add_days_in_market()
data.head(3)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,STATUS,COMMISSION,AGENT NAME,DAYS IN MARKET
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,6440,1900,2,C2,6625000,7/19/2017 0:00,Sold,198750.0,Adam,0
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,18690,1900,2,C7,0,-,Pending,0.0,-,10
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,7803,1900,2,C7,0,-,Pending,0.0,-,84

In [8]:
def add_price_trend():
    price_trend = pd.DataFrame({'PRICE TREND LAST 1WEEK': np.random.normal(0,10, size=row_data),
                               'PRICE TREND LAST 2WEEK': np.random.normal(0,10, size=row_data),
                               'PRICE TREND LAST 3WEEK': np.random.normal(0,10, size=row_data),
                               'PRICE TREND LAST 4WEEK': np.random.normal(0,10, size=row_data)})
    temp = data['DAYS IN MARKET']
    price_trend['PRICE TREND LAST 1WEEK'].loc[temp <= 7] = 0
    price_trend['PRICE TREND LAST 2WEEK'].loc[temp <= 14] = 0
    price_trend['PRICE TREND LAST 3WEEK'].loc[temp <= 21] = 0
    price_trend['PRICE TREND LAST 4WEEK'].loc[temp <= 28] = 0
    new_data = pd.concat([data, price_trend], axis=1) 
    return new_data
data = add_price_trend()
data

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,SALE PRICE,SALE DATE,STATUS,COMMISSION,AGENT NAME,DAYS IN MARKET,PRICE TREND LAST 1WEEK,PRICE TREND LAST 2WEEK,PRICE TREND LAST 3WEEK,PRICE TREND LAST 4WEEK
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,6625000,7/19/2017 0:00,Sold,198750.00,Adam,0,0.000000,0.000000,0.000000,0.000000
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,0,-,Pending,0.00,-,10,3.098895,0.000000,0.000000,0.000000
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,0,-,Pending,0.00,-,84,-4.484876,-9.901934,-17.322569,-10.912203
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,...,3936272,9/23/2016 0:00,Sold,118088.16,Adam,0,0.000000,0.000000,0.000000,0.000000
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,...,8000000,11/17/2016 0:00,Sold,240000.00,Catherine,0,0.000000,0.000000,0.000000,0.000000
5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,405,16,,C4,516 EAST 12TH STREET,,...,0,-,Pending,0.00,-,196,17.992595,0.856118,7.494645,-16.423501
6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,,C4,210 AVENUE B,,...,3192840,9/23/2016 0:00,Sold,95785.20,Catherine,0,0.000000,0.000000,0.000000,0.000000
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,407,18,,C7,520 EAST 14TH STREET,,...,0,-,Pending,0.00,-,54,18.190546,9.713391,-7.782913,3.227597
8,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,379,34,,D5,141 AVENUE D,,...,0,-,Pending,0.00,-,180,3.860115,15.292485,-36.288889,-5.693626
9,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,,D9,629 EAST 5TH STREET,,...,16232000,11/7/2016 0:00,Sold,486960.00,Beck,0,0.000000,0.000000,0.000000,0.000000
10,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,394,44,,D7,181 AVENUE C,,...,0,-,Pending,0.00,-,66,1.436629,7.912441,-17.724022,7.590045
11,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2B,400,21,,D1,530-532 EAST 5TH STREET,,...,10350000,10/17/2016 0:00,Sold,310500.00,Michael,0,0.000000,0.000000,0.000000,0.000000
12,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,,C6,"327 EAST 3 STREET, 1C",,...,0,-,Pending,0.00,-,13,-0.871075,0.000000,0.000000,0.000000
13,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,,C6,"327 EAST 3 STREET, 1C",,...,499000,3/10/2017 0:00,Sold,14970.00,Michael,0,0.000000,0.000000,0.000000,0.000000
14,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,,C6,"327 EAST 3 STREET, 3A",,...,0,-,Pending,0.00,-,32,3.087331,4.383000,6.373014,2.547139
15,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,,C6,"327 EAST 3RD STREET, 5A",,...,529500,6/9/2017 0:00,Sold,15885.00,Kim,0,0.000000,0.000000,0.000000,0.000000
16,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,,C6,"327 EAST 3 STREET, 2E",,...,423000,7/14/2017 0:00,Sold,12690.00,Newton,0,0.000000,0.000000,0.000000,0.000000
17,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,46,,C6,"317 EAST 3RD STREET, 12",,...,501000,3/16/2017 0:00,Sold,15030.00,Kim,0,0.000000,0.000000,0.000000,0.000000
18,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,49,,C6,"311 EAST 3RD STREET, 17",,...,450000,9/1/2016 0:00,Sold,13500.00,Newton,0,0.000000,0.000000,0.000000,0.000000
19,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,49,,C6,"311 EAST 3RD, 22",,...,510000,8/17/2017 0:00,Sold,15300.00,Catherine,0,0.000000,0.000000,0.000000,0.000000
20,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2C,374,8,,C6,"702 EAST 5TH STREET, 5E",,...,0,-,Pending,0.00,-,73,9.379770,0.064848,1.355241,4.037147
21,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,375,30,,C6,"742 EAST 6TH STREET, 1",,...,350000,8/30/2017 0:00,Sold,10500.00,Catherine,0,0.000000,0.000000,0.000000,0.000000
22,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,376,14,,C6,244 EAST 7TH STREET,,...,11900000,6/21/2017 0:00,Sold,357000.00,Michael,0,0.000000,0.000000,0.000000,0.000000
23,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,376,14,,C6,244 EAST 7TH STREET,,...,11900000,6/21/2017 0:00,Sold,357000.00,Nathan,0,0.000000,0.000000,0.000000,0.000000
24,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,376,16,,C6,"248 EAST 7TH STREET, 24",,...,350000,1/30/2017 0:00,Sold,10500.00,Catherine,0,0.000000,0.000000,0.000000,0.000000
25,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,376,16,,C6,"248 EAST 7TH STREET, 2",,...,404000,7/7/2017 0:00,Sold,12120.00,Adam,0,0.000000,0.000000,0.000000,0.000000
26,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,376,19,,C6,"254 EAST 7TH STREET, 4",,...,535000,6/21/2017 0:00,Sold,16050.00,Beck,0,0.000000,0.000000,0.000000,0.000000
27,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2C,377,54,,C6,"267 EAST 7 ST, 4",,...,1400000,8/4/2017 0:00,Sold,42000.00,Kim,0,0.000000,0.000000,0.000000,0.000000
28,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2C,377,60,,C6,"255 EAST 7TH STREET, 3F",,...,866000,1/9/2017 0:00,Sold,25980.00,Catherine,0,0.000000,0.000000,0.000000,0.000000
29,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,379,15,,C6,"414 EAST 10TH STREET, 4E",,...,355000,4/18/2017 0:00,Sold,10650.00,Adam,0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84518,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7020,143,,B2,1452 WOODROW ROAD,,...,875000,9/5/2016 0:00,Sold,26250.00,Beck,0,0.000000,0.000000,0.000000,0.000000
84519,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7020,160,,B2,574 MAGUIRE AVENUE,,...,875000,5/22/2017 0:00,Sold,26250.00,Nathan,0,0.000000,0.000000,0.000000,0.000000
84520,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7020,398,,B2,72 DEXTER AVENUE,,...,840000,12/7/2016 0:00,Sold,25200.00,Michael,0,0.000000,0.000000,0.000000,0.000000
84521,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7020,408,,B2,56 DEXTER AVENUE,,...,772500,3/30/2017 0:00,Sold,23175.00,Michael,0,0.000000,0.000000,0.000000,0.000000
84522,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7020,423,,B2,35 LYNBROOK AVENUE,,...,740000,1/4/2017 0:00,Sold,22200.00,Michael,0,0.000000,0.000000,0.000000,0.000000
84523,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7091,10,,B9,27 CLAY PIT ROAD,,...,0,-,Pending,0.00,-,35,12.645430,-3.633390,1.379447,15.093590
84524,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7091,28,,B9,51 CLAY PIT ROAD,,...,0,-,Pending,0.00,-,144,-13.014639,4.593483,-0.106281,-11.946530
84525,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7091,188,,B9,1576 WOODROW ROAD,,...,0,-,Pending,0.00,-,11,5.797950,0.000000,0.000000,0.000000
84526,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7092,15,,B9,96 CRABTREE AVENUE,,...,590000,3/1/2017 0:00,Sold,17700.00,Michael,0,0.000000,0.000000,0.000000,0.000000
84527,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7092,113,,B9,98 CRABTREE AVENUE,,...,580000,4/26/2017 0:00,Sold,17400.00,Nathan,0,0.000000,0.000000,0.000000,0.000000
84528,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7092,140,,B9,10 TRINA LANE,,...,550000,6/20/2017 0:00,Sold,16500.00,Adam,0,0.000000,0.000000,0.000000,0.000000
84529,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7105,2,,B9,118 TURNER STREET,,...,545000,11/16/2016 0:00,Sold,16350.00,Michael,0,0.000000,0.000000,0.000000,0.000000
84530,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7105,660,,B2,125 CLAY PIT ROAD,,...,800000,1/9/2017 0:00,Sold,24000.00,Catherine,0,0.000000,0.000000,0.000000,0.000000
84531,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7267,130,,B9,65 SHARROTTS LANE,,...,642500,6/22/2017 0:00,Sold,19275.00,Catherine,0,0.000000,0.000000,0.000000,0.000000
84532,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7267,131,,B9,67 SHARROTTS LANE,,...,408092,9/26/2016 0:00,Sold,12242.76,Catherine,0,0.000000,0.000000,0.000000,0.000000
84533,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7267,182,,B2,27 RED CEDAR LANE,,...,600000,2/27/2017 0:00,Sold,18000.00,Nathan,0,0.000000,0.000000,0.000000,0.000000
84534,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7267,202,,B9,30 HEMLOCK LANE,,...,610000,12/5/2016 0:00,Sold,18300.00,Kim,0,0.000000,0.000000,0.000000,0.000000
84535,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7267,218,,B2,33 WHITE OAK LANE,,...,645000,8/4/2017 0:00,Sold,19350.00,Adam,0,0.000000,0.000000,0.000000,0.000000
84536,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7267,244,,B2,19 SPRUCE LANE,,...,168000,1/19/2017 0:00,Sold,5040.00,Michael,0,0.000000,0.000000,0.000000,0.000000
84537,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7267,249,,B2,48 WHITE OAK LANE,,...,625000,10/18/2016 0:00,Sold,18750.00,Michael,0,0.000000,0.000000,0.000000,0.000000
84538,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7316,61,,B2,178 DARNELL LANE,,...,0,-,Pending,0.00,-,106,9.459427,-20.768731,5.639748,7.475085
84539,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7316,85,,B2,137 DARNELL LANE,,...,0,-,Pending,0.00,-,167,-3.690056,-12.721212,15.630328,3.590934
84540,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7316,93,,B2,125 DARNELL LANE,,...,509000,10/31/2016 0:00,Sold,15270.00,Beck,0,0.000000,0.000000,0.000000,0.000000
84541,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7317,126,,B2,112 ROBIN COURT,,...,648000,12/7/2016 0:00,Sold,19440.00,Adam,0,0.000000,0.000000,0.000000,0.000000
84542,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7339,41,,B9,41 SONIA COURT,,...,0,-,Pending,0.00,-,60,23.793741,8.094764,2.519878,-8.986099
84543,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,,B9,37 QUAIL LANE,,...,450000,11/28/2016 0:00,Sold,13500.00,Beck,0,0.000000,0.000000,0.000000,0.000000
84544,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,,B9,32 PHEASANT LANE,,...,550000,4/21/2017 0:00,Sold,16500.00,Newton,0,0.000000,0.000000,0.000000,0.000000
84545,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,,...,460000,7/5/2017 0:00,Sold,13800.00,Michael,0,0.000000,0.000000,0.000000,0.000000
84546,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,,...,11693337,12/21/2016 0:00,Sold,350800.11,Catherine,0,0.000000,0.000000,0.000000,0.000000
84547,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,,...,69300,10/27/2016 0:00,Sold,2079.00,Beck,0,0.000000,0.000000,0.000000,0.000000

In [10]:
data.to_csv('nyc-rolling-sales-processed.csv',sep = ',')